.custom-card {
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom-card2 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9 !important;
}
